*{
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #39312f;
  font-size: 14px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  /* height: 40px; */
  position: fixed;
  width: 100%;
}
/*   .topbar .contact-info{
  display: none;
} */

#topbar .contact-info i {
  font-style: normal;
  color: #a31600;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #ff5821;
}

#topbar .cta a {
  color: #fff;
  background: #a31600;

  padding: 10px 20px;
  /* display: inline-block; */
  transition: 0.3s;
}

#topbar .cta a:hover {
  background: #ffa500;
}

@media(max-width:780px){
  #topbar{
    padding: 15px 0;
  }
}
/*--------------------------------------------------------------
                  The Header Section
--------------------------------------------------------------*/
.header{
  width: 100%;
  margin: auto;
  padding-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  padding-left: 50px;
  padding-right: 50px;
}
.header nav{
  display: flex;    
  align-items: center;
  justify-content: space-between;
}

.header ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}
.header a{
  text-decoration: none;
  text-align: right;
  color: #333;
  font-size: 20px;
}
.header a:hover{
  color: #ffa500;
}

.logo img{
  height: 50px;
}

nav .mobile-nav-toggle{
  font-size: 30px;
  display: none;
}

@media(max-width:700px){
  nav .mobile-nav-toggle{
      display: block;
      cursor: pointer;
  }
  nav .navigator .mobile-nav-toggle{
      color: #fff;
      margin-left: 10px;
  }
  .navigator{
      margin-top: 40px;
      position: fixed;
      background: #06446c;
      height: 90vh;
      width: 200px;
      top: 0;
      text-align: left;
      z-index: 2;
      transition: 1s;
      right: -200px;
  }
  .navigator a{
      color: #fff;
  }
  
}




/*--------------------------------------------------------------
                  Coming Soon Section
--------------------------------------------------------------*/
.coming_soon{
  width: 80%;
  margin: auto;
  display: flex;
  height: 80vh;
}

.coming_soon .text-section{
  width: 70%;
  text-align: left;
}
.coming_soon h1{
  font-size: 100px;
  color: #A31600;
  margin-top: 180px;
  font-weight: bold;

}
.coming_soon h2{
font-size: 30px;
font-weight: bold;
text-align: center;
}
.coming_soon h1 span{
  color: #FFA500;
}
.coming_soon .image-section{
  width: 35%;
  padding-top: 50px;
  padding-bottom: 0;
  align-content: space-around;
}
.coming_soon .image-section img{
  height: 500px;
  /* padding-top: 50; */
  margin-top: 0;
}
@media(max-width:700px){
  .coming_soon{
      width: 90%;
      display: flex;
      height: 80vh;
  }
  
  .coming_soon .text-section{
      width: 100%;
      text-align: center;
  }
  .coming_soon h1{
      font-size: 50px;
      margin-top: 150px;
  }
  .coming_soon h2{
    font-size: 15px;
  }
  
  .coming_soon .image-section{
      width: 0px;
  }
  .coming_soon .image-section img{
      display: none;
      margin-top: 0;
  }
}


/*--------------------------------------------------------------
              The Footer Section
--------------------------------------------------------------*/
footer {
  color: #ffffff;
  font-size: 14px;
  background: #fff;
}

footer .footer-top {
  padding: 60px 0 30px 0;
  background: #0c1817;
}

footer .footer-top .footer-contact {
  margin-bottom: 30px;
  margin-right: 100px;
}

footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffff;
}
footer .footer-top strong{
  color: #fff;
}
footer .footer-top a{
  color: #ffa500;
}

footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

footer .footer-top .footer-links {
  margin-bottom: 30px;
  margin-right: 100px;
}

footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffa500;
  font-size: 18px;
  line-height: 1;
}

footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

footer .footer-top .footer-links ul a {
  color: #fdfdfd;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ffa500;
}

footer .footer-newsletter {
  font-size: 15px;
}

footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #ffe2d9;
}

footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #a31600;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

footer .footer-newsletter form input[type=submit]:hover {
  background: #ffa500;
}

footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #313030;
}

footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #a31600;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
footer .social-links i{
  color: #fff;
}

footer .social-links a:hover {
  background: #ffa500;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffa500;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #a31600;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
